.img {
  overflow: hidden;
  position: relative;
}

.poster {
  display: block;
  height: 17rem;
  width: 17rem;
  border-radius: 50%;
  object-fit: cover;

  /* set placeholder */
  background-color: #1d1911;
}

/* 1200px */
@media only screen and (max-width: 75em) {
  .poster {
    height: 14rem;
    width: 14rem;
  }
}

/* 450px */
@media only screen and (max-width: 28.125em) {
  .poster {
    height: 13rem;
    width: 13rem;
  }
}

.cover {
  display: none;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)); */
  border: 1.3px solid #edb01d;
  border-radius: 50%;
  z-index: 10;
  transition: all 0.5s;
}

.img:hover .cover {
  display: block;
}

.name {
  margin-top: 1rem;
  font-weight: 400;
  font-size: 1.4rem;
  text-align: center;
}

/* 1200px */
@media only screen and (max-width: 75em) {
  .name {
    font-size: 1.2rem;
  }
}

.name-text:link,
.name-text:visited {
  text-decoration: none;
  color: inherit;
  transition: all 0.5s;
}

.name-text:hover,
.name-text:active {
  text-decoration: underline;
}
