.detail {
  padding-bottom: 3rem;
  overflow-y: scroll;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  padding-left: 3.8rem;
  font-size: 1.5rem;
  color: #dec7a18f;
}

/* 450px */
@media only screen and (max-width: 28.125em) {
  .error {
    padding-left: 2rem;
  }
}
