.detail {
  /* background-color: rosybrown; */
  /* padding: 0 0 2rem 3.8rem; */
  padding-bottom: 7rem;
  overflow-y: scroll;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  padding-left: 3.8rem;
  font-size: 1.5rem;
  color: #dec7a18f;
}
