.episode {
  padding-bottom: 7rem;
  color: #dec7a1;
  overflow-y: scroll;
}

.main {
  padding-top: 1.5rem;
  padding-left: 3.8rem;
  margin-bottom: 6rem;

  display: flex;
  justify-content: flex-start;
}

.img {
  flex: 0 1 31rem;

  margin-right: 5rem;
}

.poster {
  display: block;
  width: 100%;
  height: 17.4rem;
  object-fit: cover;
  border-radius: 3px;

  /* set placeholder */
  background-color: #1d1911;
}

.content {
  flex: 1;
}

.title {
  font-size: 2.8rem;
  letter-spacing: 1px;
  /* color: #dec7a1; */
  margin-bottom: 1rem;
}

.season,
.episode-title {
  font-size: 1.6rem;
  font-weight: 500;
  /* color: #dec7a1; */
  margin-bottom: 1rem;
}

.overview {
  padding-left: 3.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  width: 60%;
  line-height: 1.7;
  /* margin-bottom: 1rem; */
}

.btn {
  padding-left: 3.8rem;
}

.release-date {
  padding-left: 3.8rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #dec7a18f;
}

span {
  font-size: 1.6rem;
  font-weight: 400;
  color: #dec7a1;
  margin-left: 6rem;
}
