.title {
  color: #dec7a1;
  font-size: 1.8rem;
  padding: 1.5rem 3.8rem;
  padding-bottom: 1.9rem;
}

/* 450px */
@media only screen and (max-width: 28.125em) {
  .title {
    padding: 1rem 2rem;
  }
}

.rows {
  overflow-y: scroll;
}

.rows::-webkit-scrollbar {
  /* height: 4px; */
}

/* .rows::-webkit-scrollbar-thumb {
  background: rgba(133, 133, 133, 0.5);
  border-radius: 3px;
} */

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  padding-left: 3.8rem;
  font-size: 1.5rem;
  color: #dec7a18f;
}

/* 450px */
@media only screen and (max-width: 28.125em) {
  .error {
    padding-left: 2rem;
  }
}
