.person {
  /* padding-bottom: 7rem; */
  overflow-y: scroll;
}

.person-credits {
  padding-left: 3.8rem;
  font-size: 1.7rem;
  color: #dec7a1;
  margin-bottom: 3rem;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  padding-left: 3.8rem;
  font-size: 1.5rem;
  color: #dec7a18f;
}
