.person {
  overflow-y: scroll;
}

.person-credits {
  padding-left: 3.8rem;
  font-size: 1.7rem;
  color: #dec7a1;
  margin-bottom: 3rem;
}

/* 1200px */
@media only screen and (max-width: 75em) {
  .person-credits {
    font-size: 1.5rem;
  }
}

/* 450px */
@media only screen and (max-width: 28.125em) {
  .person-credits {
    padding-left: 2rem;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  padding-left: 3.8rem;
  font-size: 1.5rem;
  color: #dec7a18f;
}

/* 450px */
@media only screen and (max-width: 28.125em) {
  .error {
    padding-left: 2rem;
  }
}
