.main {
  /* border: 2px solid green; */
  /* padding-top: 2.5rem;
  padding-left: 3.8rem; */
  padding: 2.5rem 3.8rem 0;
  margin-bottom: 6rem;

  display: flex;
  justify-content: flex-start;
}

.img {
  flex: 0 1 30rem;

  margin-right: 5rem;
}

.poster {
  display: block;
  width: 100%;
  height: 45rem;
  object-fit: cover;
  border-radius: 3px;

  /* set placeholder */
  background-color: #1d1911;
}

.bio {
  flex: 1;
}

.bio-text {
  width: 90%;
  font-size: 1.5rem;
  color: #dec7a1;
  line-height: 1.7;
}
