.title {
  color: #dec7a1;
  padding: 1.5rem 3.8rem;
  padding-bottom: 1.3rem;
  position: relative;
}

.title-name {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.person-sub {
  font-size: 1.4rem;
}

.person-sub span {
  color: #dec7a18f;
  margin-left: 0;
}

.selector-btns {
  display: flex;
}

.selector-btn {
  font-size: 1.6rem;
  color: inherit;
  cursor: pointer;
  background: none;
  border: none;

  display: flex;
  align-items: center;
}

.selector-btn:not(:last-child) {
  margin-right: 2rem;
}

.down-icon {
  font-size: 2.4rem;
  margin-left: 0;

  display: flex;
  align-items: center;
}

.lists-item {
  position: absolute;
  top: 100%;
  list-style: none;
  padding: 0.7rem 0;
  background-color: #0e0d0b;
  color: #dec7a1;
  font-size: 1.4rem;
  border-radius: 4px;
  max-height: 60vh;
  overflow-y: auto;
  z-index: 20;
}

.lists-category {
  width: 23rem;
}

.lists-order {
  width: 20rem;
}

.lists-count {
  width: 13rem;
}

.clear {
  position: absolute;
  bottom: 1rem;
  left: 0;
}
