.title {
  color: #dec7a1;
  padding: 1.5rem 3.8rem;
  padding-bottom: 1.3rem;
  position: relative;
}

/* 450px */
@media only screen and (max-width: 28.125em) {
  .title {
    padding-left: 2rem;
  }
}

.title-name {
  font-size: 1.8rem;
  margin-bottom: 2rem;

  display: flex;
  align-items: center;
}

.back-btn {
  display: flex;
  align-items: center;

  border: none;
  background: none;
  cursor: pointer;
  margin-left: 2rem;
  color: #dec7a18f;
  font-size: 1.8rem;
  transition: all 0.5s;
}

.back-btn::after {
  content: 'Back';
  color: transparent;
  padding-left: 0.2rem;
  font-size: 1.5rem;
  transition: all 0.5s;
}

.back-btn:hover {
  color: #dec7a1;
}

.back-btn:hover::after {
  color: #dec7a1;
}

.person-sub {
  font-size: 1.4rem;
}

.person-sub span {
  color: #dec7a18f;
  margin-left: 0;
}

.selector-btns {
  display: flex;
}

.selector-btn {
  font-size: 1.6rem;
  color: inherit;
  cursor: pointer;
  background: none;
  border: none;

  display: flex;
  align-items: center;
}

.selector-btn:not(:last-child) {
  margin-right: 2rem;
}

.down-icon {
  font-size: 2.4rem;
  margin-left: 0;

  display: flex;
  align-items: center;
}

.lists-item {
  position: absolute;
  top: 100%;
  list-style: none;
  padding: 0.7rem 0;
  background-color: #0e0d0b;
  color: #dec7a1;
  font-size: 1.4rem;
  border-radius: 4px;
  max-height: 60vh;
  overflow-y: auto;
  z-index: 20;
}

.lists-category {
  width: 23rem;
}

.lists-order {
  width: 20rem;
}

.lists-count {
  width: 13rem;
}

.clear {
  position: absolute;
  bottom: 1.6rem;
  left: 1rem;
  border: none;
  background-color: #dec7a1;
  height: 1.7rem;
  width: 1.7rem;
  border-radius: 50%;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.clear-icon {
  font-size: 1.5rem;
  color: #1d1911ec;
}
