/* .card {
  line-height: 4.5rem;
  border-bottom: none;
} */

/* .list-menu {
  color: #b09760;
  font-size: 1.8rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  position: relative;
} */

/* .card:hover {
  transform: scale(1.02);
} */

/* .card-menu {
  display: flex;
  flex-direction: column;

  text-decoration: none;
  color: #dec7a1;
} */

/* 500px */
/* @media only screen and (max-width: 31.25em) {
  .card {
    padding-right: 1.8rem;
  }
} */

.img {
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.grid-img {
  flex: 1;
}

.poster {
  display: block;
  height: 26rem;
  width: auto;
  object-fit: contain;
  opacity: 0;
}

.grid-poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  border: 1px solid #edb01d;
  border-radius: 5px;
  z-index: 10;
}

.img:hover .cover {
  display: block;
}

.cover-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background: none;
  border: 1.8px solid #ccc;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.cover-btn:hover {
  border: 1.8px solid #edb01d;
  background: #edb01d;
}

.cover-icon {
  color: #ccc;
  font-size: 3.5rem;
  transition: all 0.4s;
}

.cover-btn:hover .cover-icon {
  color: #292929;
}

.poster-open {
  opacity: 1;
  transition: all 0.4s;
}

.title:link,
.title:visited {
  display: inline-block;
  text-decoration: none;
  color: #dec7a1;
  font-size: 1.3rem;
  padding: 0.3rem;
  padding-top: 1.2rem;
  transition: all 0.5s;
}

.title:hover,
.title:active {
  text-decoration: underline;
}

.grid-title {
  flex: 0 0 1.7rem;
}

.dateseason {
  /* flex-basis: 1.8rem; */
  display: block;
  padding-left: 0.3rem;
  padding-top: 0.5rem;
  font-size: 1.2rem;
  color: #dec7a1;
  /* font-weight: 100; */
}

.grid-dateseason {
  flex: 0 0 2rem;
}

.episode {
  color: #dec7a18f;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f7f7f7;
}
