.cast {
  color: #dec7a1;
  margin-bottom: 6rem;
}

/* 450px */
@media only screen and (max-width: 28.125em) {
  .cast {
    margin-bottom: 4rem;
  }
}

.title {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 2rem;
  padding-left: 3.8rem;
}

/* 450px */
@media only screen and (max-width: 28.125em) {
  .title {
    padding-left: 2rem;
    margin-bottom: 1.5rem;
  }
}

.content {
  padding-left: 3.8rem;
  overflow-x: auto;
  overflow-y: hidden;
}

/* 450px */
@media only screen and (max-width: 28.125em) {
  .content {
    padding-left: 2rem;
  }
}

.content::-webkit-scrollbar {
  display: none;
}

.cards {
  list-style: none;

  display: flex;
}

.card {
  margin-right: 3.1rem;
}

/* 1200px */
@media only screen and (max-width: 75em) {
  .card {
    margin-right: 2.2rem;
  }
}

/* 450px */
@media only screen and (max-width: 28.125em) {
  .card {
    margin-right: 1.7rem;
  }
}

.no-casts {
  font-size: 1.5rem;
  color: #dec7a18f;
}

/* 1200px */
@media only screen and (max-width: 75em) {
  .no-casts {
    font-size: 1.4rem;
  }
}
