.title {
  flex: 0 1 3rem;
  font-size: 1.7rem;
  font-weight: 400;
  margin-bottom: 1.8rem;
}

.related {
  flex: 1;
  list-style: none;
  display: flex;
  align-items: center;
  overflow-x: scroll;
}

.related::-webkit-scrollbar {
  height: 4px;
}

.related::-webkit-scrollbar-thumb {
  background: rgba(133, 133, 133, 0.5);
  border-radius: 3px;
}

.item {
  height: 100%;
  margin-right: 4rem;
  text-decoration: none;
  color: #f7f7f7;
  transform: scale(0.95);
  transition: all 0.3s;

  display: flex;
  flex-direction: column;
}

/* 500px */
@media only screen and (max-width: 31.25em) {
  .item {
    height: 95%;
  }
}

.item:hover {
  transform: scale(1);
}

.fig {
  flex: 1;
  width: 17rem;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* 500px */
@media only screen and (max-width: 31.25em) {
  .img {
    height: 95%;
    width: 95%;
  }
}

.name {
  flex: 0 1 3rem;
  margin-top: 2.5rem;
  font-size: 1.5rem;
}
