.title {
  flex: 0 1 3rem;
  font-size: 1.7rem;
  font-weight: 400;
  margin-bottom: 1.8rem;
}

.seasons {
  flex: 1;
  list-style: none;
  display: flex;
  align-items: center;
  overflow-x: scroll;
}

.seasons::-webkit-scrollbar {
  height: 4px;
}

.seasons::-webkit-scrollbar-thumb {
  background: rgba(133, 133, 133, 0.5);
  border-radius: 3px;
}

.item {
  height: 100%;
  margin-right: 3rem;

  display: flex;
  flex-direction: column;
}

.fig {
  flex: 1;
  width: 13rem;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.name {
  flex: 0 1 3rem;
  margin-top: 2rem;
  font-size: 1.3rem;
}
