.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal {
  position: fixed;
  top: 15vh;
  left: 10%;
  width: 80%;
  height: 70vh;
  z-index: 100;
  overflow: hidden;
}

/* 700px */
@media only screen and (max-width: 43.75em) {
  .modal {
    top: 25vh;
    left: 0;
    width: 100%;
    height: 50vh;
  }
}

/* 400px */
@media only screen and (max-width: 25em) {
  .modal {
    top: 30vh;
    height: 40vh;
  }
}

/* 300px */
@media only screen and (max-width: 18.75em) {
  .modal {
    top: 32.5vh;
    height: 35vh;
  }
}
