.title {
  flex: 0 0 15rem;
  font-family: 'Staatliches';
  font-size: 2.5rem;
  text-decoration: none;
  color: #f7f7f7;
  cursor: pointer;
}

.form {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.search-form {
  margin-right: 2rem;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.input {
  font-family: inherit;
  font-size: 1.2rem;
  background-color: #f7f7f7;
  border: none;
  padding: 0.7rem 1.2rem;
  border-radius: 10rem;
  width: 15%;
  margin-right: -2.8rem;
}

/* 1000px */
@media only screen and (max-width: 62.5em) {
  .input {
    width: 20%;
  }
}

/* 700px */
@media only screen and (max-width: 43.75em) {
  .input {
    width: 30%;
  }
}

/* 400px */
@media only screen and (max-width: 25em) {
  .input {
    padding: 0.5rem 1rem;
    font-size: 1.05rem;
    width: 50%;
  }
}

.input::-webkit-input-placeholder {
  font-size: 1.2rem;
  color: #ccc;
}

/* 400px */
@media only screen and (max-width: 25em) {
  .input::-webkit-input-placeholder {
    font-size: 1rem;
  }
}

/* 300px */
@media only screen and (max-width: 18.75em) {
  .input::-webkit-input-placeholder {
    font-size: 0.9rem;
  }
}

.input:focus {
  outline: none;
  width: 30%;
}

/* 1000px */
@media only screen and (max-width: 62.5em) {
  .input:focus {
    width: 40%;
  }
}

/* 700px */
@media only screen and (max-width: 43.75em) {
  .input:focus {
    width: 50%;
  }
}

/* 400px */
@media only screen and (max-width: 25em) {
  .input:focus {
    width: 70%;
  }
}

.btn {
  border: none;
  cursor: pointer;
  background-color: #f7f7f7;
}

.btn:focus {
  outline: none;
}

.btn-icon {
  height: 2rem;
  width: 2rem;
  fill: #060b26;
}

.user {
  border: none;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: green;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}
