.navbar {
  background-color: #060b26;
  height: 6.5rem;
  color: #f7f7f7;
  position: sticky;
  top: 0;
  z-index: 5;

  display: flex;
  align-items: center;
}

.menu {
  flex: 0 0 5rem;
  margin-left: 2rem;
}

.menu-icon {
  font-size: 2rem;
  background: none;
  transition: all 0.3s;
}

.menu-icon:hover,
.menu-icon:active {
  fill: #3aaa6f;
}

.menu-icon:active {
  transform: translateY(2px);
}

.sidebar {
  background-color: #272a3a;
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 0.8s;
  z-index: 100;
}

/* 300px */
@media only screen and (max-width: 18.75em) {
  .sidebar {
    width: 80%;
  }
}

.active {
  left: 0;
  transition: 0.3s;
}

.toggle {
  background-color: #272a3a;
  width: 100%;
  flex: 0 1 8rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.items {
  flex: 1;
  width: 100%;

  list-style: none;
  overflow-y: scroll;
}
