.data {
  line-height: 6rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.mainmenu {
  text-decoration: none;
  color: #f7f7f7;
  font-size: 1.8rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  position: relative;
  z-index: 10;
}

.mainmenu::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
  background-color: #3aaa6f;
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
}

.mainmenu:hover::before {
  transform: scaleY(1);
}

.mainicon {
  position: relative;
  z-index: 20;

  display: flex;
  align-items: center;
}

.maintitle {
  margin-left: 1.6rem;
  position: relative;
  z-index: 20;
}

.dropdown {
  margin-left: auto;
  position: relative;
  z-index: 20;

  display: flex;
  align-items: center;
}

.subitems {
  list-style: none;
  position: static;
}

.sublist {
  line-height: 4.5rem;
  border-bottom: none;
}

.submenu {
  text-decoration: none;
  color: #f7f7f7;
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  padding-left: 6.5rem;
  position: relative;
  z-index: 10;
  transition: all 0.3s;
}

.submenu:hover {
  color: #3aaa6f;
  font-size: 1.65rem;
}
