.card {
  display: flex;
  flex-direction: column;

  text-decoration: none;
  color: #f7f7f7;
  padding-right: 1.7rem;
  height: 100%;
  transition: all 0.3s;
}

/* 500px */
@media only screen and (max-width: 31.25em) {
  .card {
    padding-right: 1.8rem;
  }
}

.card:hover {
  transform: scale(1.05);
}

.img {
  flex: 1;
  overflow: hidden;

  height: 100%;
  width: 100%;
}

.poster {
  display: block;
  width: auto;
  height: 100%;
  object-fit: cover;
  opacity: 0;
}

.poster-open {
  opacity: 1;
  transition: all 0.5s;
}

.title {
  flex-basis: 3rem;
  font-size: 1.5rem;
  padding: 0.3rem;
  padding-top: 0.7rem;
}

.date {
  flex-basis: 3rem;
  padding: 0.3rem;
  font-size: 1.2rem;
  font-weight: 100;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f7f7f7;
}
