.contents {
  flex: 1;
  padding: 1rem;
  overflow-x: auto;
}

.contents::-webkit-scrollbar {
  height: 4px;
}

.contents::-webkit-scrollbar-thumb {
  background: rgba(133, 133, 133, 0.5);
  border-radius: 3px;
}

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 500rem;
  height: 100%;
}
