.contents {
  flex: 1;
  padding: 1rem;
  /* padding-top: 0; */
  overflow-x: scroll;
  overflow-y: hidden;
}

/* Do not display scrollbar */
.contents::-webkit-scrollbar {
  display: none;
}

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 500rem;
  height: 100%;
}

/* .wrapper.wide {
  width: 510rem;
} */
