.slider {
  height: 60rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 60rem;
  object-fit: cover;
  transition: transform 1s;
}

.description {
  position: absolute;
  bottom: 5rem;
  left: 5rem;
  width: 60rem;
}

.name {
  font-size: 4.5rem;
  font-weight: 500;
  letter-spacing: 3px;
  margin-bottom: 1rem;
}

.overview {
  font-size: 1.4rem;
  margin-bottom: 4rem;
  line-height: 1.4;
}

.more {
  font-size: 1.3rem;
  border: none;
  text-decoration: none;
  background-color: #f7f7f72f;
  color: #f7f7f7;
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.3s;
}

.more:hover {
  background-color: #060b26;
  color: #f7f7f7;
}

.btn-left,
.btn-right {
  border: none;
  background-color: transparent;
  padding: 1rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 0.3s;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-left:hover,
.btn-right:hover {
  background-color: #f7f7f7;
}

.btn-left:hover .btn-icon,
.btn-right:hover .btn-icon {
  fill: #060b26;
}

.btn-left {
  left: 1rem;
}

.btn-right {
  right: 1rem;
}

.btn-icon {
  height: 1.4rem;
  width: 1.4rem;
  fill: #f7f7f7;
}
