.container {
  height: 45rem;
  background-color: #060b26;
  color: #f7f7f7;
  padding: 1.5rem;
  margin-top: 2rem;

  display: flex;
  flex-direction: column;
}

/* 500px */
@media only screen and (max-width: 31.25em) {
  .container {
    height: 40rem;
  }
}

.wide {
  height: 23rem;
}

/* 500px */
@media only screen and (max-width: 31.25em) {
  .wide {
    height: 20rem;
  }
}
