.navigation {
  grid-row: 2 / -1;

  margin: 1rem;
  margin-right: 0;
  margin-top: 0;
  background-color: #1d1911;
  border-radius: 3px;
}

/* 450px */
@media only screen and (max-width: 28.125em) {
  .navigation {
    display: none;
    width: 25rem;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
  }
}

.mobile {
  display: block;
}

.lists {
  list-style: none;
}

.list {
  border-bottom: none;
}

.list-menu {
  text-decoration: none;
  color: #b09760;
  font-size: 1.8rem;
  height: 4.5rem;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  position: relative;
  transition: all 0.2s;
}

.list-menu::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 2px;
  background-color: #dec7a1;
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
}

.list-menu:hover {
  color: #dec7a1;
}

.list-menu:hover::before {
  transform: scaleY(1);
}

.selected {
  color: #dec7a1;
}

.selected::before {
  transform: scaleY(1);
}

.list-icon {
  display: flex;
  align-items: center;
}

.list-title {
  color: inherit;
  margin-left: 1.7rem;
  margin-right: 11rem;
}

/* 1200px */
@media only screen and (max-width: 75em) {
  .list-title {
    margin-right: 6rem;
  }
}
