/* 
background: #080f35

black1: #272727
black2: #2d3439
green: #3aaa6f
green1: #ebf8f1;
green2: #c5ebd7
font1: #f7f7f7
--color-gray-light-1: #faf9f9;
  --color-gray-light-2: #f4f2f2;
  --color-gray-light-3: #f0eeee;
  --color-gray-light-4: #ccc;

  --color-gray-dark-1: #333;
  --color-gray-dark-2: #777;
  --color-gray-dark-3: #999;
*/

/* // 1200px / 16px = 75
$bp-largest: 75em;
// 1000px
$bp-large: 62.5em;
// 700px
$bp-medium: 43.75em;
// 600px
$bp-small: 37.5em;
// 500px
$bp-smallest: 31.25em; */

/* @media only screen and (max-width: $bp-medium) {
  flex-direction: column;
} */
