*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

/* 800px */
@media only screen and (max-width: 50em) {
  html {
    font-size: 50%;
  }
}

/* 450px */
@media only screen and (max-width: 28.125em) {
  html {
    font-size: 40%;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: #1d1911ec;
}

/* COLORS */
/* #0E0D0B originalcolor
#1d1911
#1d1911ec
#674E31
#502916
#C4A872
#B09760
#97683D
#DEC7A1
#dec7a18f
#EDB01D
#eebb44 hover */

/* 2000px 125em */
/* 1200px 75em */
/* 800px 50em */
/* 450px 28.125em */

/*  */
/* 600px 37.5em */
/* 700px 43.75em */
/* 300px 18.75em */
